@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


* {
    /* background: rgb(169, 175, 178); */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {

    --mainColor: #171717;
    --mainColorLight: #3f3f3f;
    --secondaryColor: #DA0037;
    --textColor: #EDEDED;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}

nav a {
    margin: 0 2rem;
    color: var(--textColor);
    background-color: var(--mainColor);
    text-decoration: none;
}

nav a:hover {
    color: var(--secondaryColor);

}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColorLight);
        transition: 1s;
        transform: translateY(-100vh);
    }

    header .responsive_nav {
        transform: none;
        background-color: var(--mainColorLight);
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 1.5rem;
        background-color: var(--maincolorLight);
    }
}

.register-form, .login-form {
    max-width: 500px;
    /* text-align: center; */
    margin: 2.5rem auto;
    border: 2px solid var(--secondaryColor);
    padding: 2rem;
}

    label {
        display: block;
    }

    input, textarea {
        display: block;
        width: 100%;
    }

#registerBtn, #loginBtn{
    border: 0;
    background-color: var(--secondaryColor);
    padding: .5rem;
    color: var(--textColor);
    margin: 1rem 0;
    width: auto;
    text-transform: uppercase;
}

#registerHereBtn{
    background-color: var(--mainColorLight);
}

#registerBtn:hover, #loginBtn:hover, #registerHereBtn {
        background-color: var(--mainColorLight);
        transition: .25s;
    }



    .game-list{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items:baseline;
        viewport-fit: auto;
    }

